<html lang="en">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>{{.MailType}}</title>
  </head>

  <body>
    <table
      style="
        background-color: #f6f8f1;
        padding: 40px;
        position: fixed;
        bottom: 0;
        left: 0;
        top: 0;
        right: 0;
        height: auto;
        width: 100%;
      "
      border="0"
      align="center"
      cellpadding="0"
      cellspacing="0"
    >
      <tr>
        <td>
          <table
            style="background-color: #ffffff; padding: 20px"
            width="90%"
            align="center"
            border="0"
            cellpadding="0"
            cellspacing="0"
          >
            <tr>
              <td
                style="
                  text-align: center;
                  font-size: 16px;
                  line-height: 22px;
                  color: #0a2640;
                  font-family: sans-serif;
                "
              >
                <br />
                <p>
                  Hello, <br /><br />
                  A new quotation form entry has been created.
                </p>

                <br />
                <br />

                <p style="text-align: center">
                  <small
                    >This email was sent to {{.Email}}, if you are not the
                    intended recipient, kindly ignore.
                  </small>
                </p>
              </td>
            </tr>
          </table>
          <table
            style="padding: 20px"
            align="center"
            width="55%"
            border="0"
            cellpadding="0"
            cellspacing="0"
          >
            <tr style="text-align: center">
              <td style="font-family: sans-serif; font-size: 12px">
                <small>
                  Copyright © {{.CurrentYear}}
                  <a href="https://opendataug.org">Open Data Uganda</a> , All
                  rights reserved.
                </small>
                <br />
                <br />
              </td>
            </tr>
          </table>
        </td>
      </tr>
    </table>
  </body>
</html>
